@model Utility.ViewModels.VacancieRespondIndexVm
@using Data.Enums
@{
	ViewData["Title"] = "Responds of resume";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="display-3">Vacancie Responds of @Model.CommonResume.Name resume</h3>
        </div>
    </div>
    <div class="row">
        <div class="list-group">
            @foreach (VacancieRespondDetailsVm viewModel in Model.VacancieRepsonds)
            {
                <div class="list-group-item">
                    <partial name="_VacancieRespondCard" model="viewModel" />
                </div>
            }
        </div>
    </div>
</div>
