@model IEnumerable<Data.Entities.Jobseeker>
@inject Utility.Interfaces.Profile.IJobseekerProfileService ProfileService
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h3 class="display-3">Jobseekers List</h3>
    <div class="list-group">
        @foreach(var jobseeker in Model)
        {
            <a asp-action="Details" asp-route-id="@jobseeker.Id" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start">
                    <img class="rounded-5" style="width:100px; height: auto;" src="@ProfileService.GetImageSource(jobseeker)">
                    <h5 class="mb-1">@jobseeker.Name</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small class="text-muted">And some small print.</small>
            </a>
        }
    </div>
</div>

