@model Utility.ViewModels.JobOfferIndexVm
@using Data.Enums
@{
    ViewData["Title"] = "Offers for resume";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="display-3">Job Offers For @Model.CommonVacancie.Name vacancie</h3>
        </div>
    </div>
    <div class="row">
        <div class="list-group">
            @foreach (JobOfferDetailsVm viewModel in Model.JobOffers)
            {
                <div class="list-group-item">
                    <partial name="_JobOfferCard" model="viewModel" />
                </div>
            }
        </div>
    </div>
</div>
